:root {
    --accent-color: gray;
    --accent-color-dark: darkgray;
    --accent-color-light: lightgray;
    --secondary-color: whitesmoke;
    --secondary-color-light: white;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

main {
    background-color: var(--secondary-color-light);
}

header {
    background-color: rgb(244, 67, 54);
    color: var(--secondary-color);
    padding: 3em;
    text-align: center;
}

.item {
    background-color: var(--accent-color-light);
    border-bottom: 4px solid white;
    cursor: pointer;
    font-size: 18px;
    list-style-type: none;
    padding: 1em;
    position: relative;
    transition: 0.2s;
}

ul {
    margin: 0;
    padding: 0;
}

.close {
    background-color: var(--accent-color);
    border-radius: 0.45em;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: larger;
    padding: 0.75em;
    position: absolute;
    right: 0;
    top: 0;
}

.close:hover {
    background-color: red;
    color: var(--secondary-color-light);
}

.checked {
    background-color: var(--accent-color-dark);
    color: var(--secondary-color-light);
    text-decoration: line-through;
}

.checked:before {
    content: '\2713';
}

ul->li.checkbox {
    cursor: pointer;
}

.alert {
    background-color: crimson;
    border-style: double;
    border-width: 2px;
    color: azure;
    font-size: 20px;
    height: 100px;
    position: absolute;
    text-align: center;
    width: 250px;
}

.alert_bg {
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 4em;
    position: fixed;
    top: 0;
    width: 100%;
}